<!-- 7. 반응형 웹 레이아웃 연습 5 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div id="wrap">
      <header id="header"></header>
      <section id="banner"></section>
      <section id="content1">
        <nav class="nav"></nav>
        <article class="article_right1"></article>
        <article class="article_right2"></article>
      </section>
      <section id="content2">
        <article class="article_box1"></article>
        <article class="article_box2"></article>
        <article class="article_box3"></article>
      </section>
      <section id="content3">
        <article class="article_square1"></article>
        <article class="article_square2"></article>
        <article class="article_square3"></article>
        <article class="article_square4"></article>
      </section>
      <footer id="footer"></footer>
    </div>
  </body>
</html>
